<%- layout("/layouts/biolerplate.ejs")%>

<style>
    
    .filters {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin: 20px 0;
        margin-right: 10px;
    }

    .filter {
        text-align: center;
        opacity: 0.7;
        cursor: pointer;
        margin: 8px;
    }

    .filter:hover {
        opacity: 1;
        transform: scale(1.05); 
        transition: transform 0.2s;
    }

    .filter a {
        text-decoration: none;
        color: black;
        font-size: 0.9rem;
    }

    .filter i {
        font-size: 1.5rem; 
        display: block;
        margin-bottom: 5px;
    }

    .switch {
        border-radius: 20px;
        border: 1.5px solid #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .gst {
        display: none;
    }

    
    @media (max-width: 992px) {
        .filters {
            flex-wrap: nowrap;         
            overflow-x: auto;        
            justify-content: flex-start;
            padding: 10px 20px;     
        }

   
        .filters::-webkit-scrollbar {
            display: none; 
        }
        .filters {
            -ms-overflow-style: none;  
            scrollbar-width: none;  
        }

        .filter {
            flex-shrink: 0; 
        }
    }
</style>

<body>
    <!-- Filter Icons -->
    <div class="filters">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <a href="/listing/icon/Trending/city/<%=datas[0].location%>">Trending</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <a href="/listing/icon/Rooms/city/<%=datas[0].location%>">Rooms</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <a href="/listing/icon/Mountain City/city/<%=datas[0].location%>">Mountain City</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain"></i>
            <a href="/listing/icon/Mountains/city/<%=datas[0].location%>">Mountains</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-chess-rook"></i>
            <a href="/listing/icon/Castles/city/<%=datas[0].location%>">Castles</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <a href="/listing/icon/Amazing Pools/city/<%=datas[0].location%>">Amazing Pools</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-snowflake"></i>
            <a href="/listing/icon/Arctic/city/<%=datas[0].location%>">Arctic</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <a href="/listing/icon/Champing/city/<%=datas[0].location%>">Champing</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-cow"></i>
            <a href="/listing/icon/Farms/city/<%=datas[0].location%>">Farms</a>
        </div>
        <div class="filter">
            <i class="fa-solid fa-umbrella-beach"></i>
            <a href="/listing/icon/Beach/city/<%=datas[0].location%>">Beach</a>
        </div>
        <div class="switch">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Show GST</label>
            </div>
        </div>
    </div>

    <!-- Listings -->
    <div class="homepage">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
            <% for(let data of datas){ %>
                <div class="card listing-card-main" style="width: 18rem; height: 100%;">
                    <img style="height: 20rem; border-radius: 20px;" src="<%=data.image.url%>" class="card-img-top" alt="listing_image">
                    <div class="card-body">
                        <h5 class="card-title"><%= data.title %></h5>
                        <p>₹ <%= data.price.toLocaleString("en-IN") %>/night  <b class="gst">+<i>18%</i>GST</b></p>
                        <a href="/listing/<%=data._id%>"><button class="btn btn-success">Show Details</button></a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

<script>
    const toggle = document.querySelector("#switchCheckDefault");
    const gsts = document.querySelectorAll(".gst");
    toggle.addEventListener("click", () => {
        for (let gst of gsts) {
            if (gst.style.display !== "inline") {
                gst.style.display = "inline";
            } else {
                gst.style.display = "none";
            }
        }
    });
</script>

